<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
    	<p class="flash"><%= flash.notice %></p>
    	<%= yield %>  	
      
    	<hr>
          	
    	<h6>
    		<% if logged_in? %>
    		  <%= "Logged in as #{current_user.email}" %>
    		  <%= link_to "(logout)", logout_path %>
    		  <%= link_to "(Authors List)", authors_path %>
    		<% else %>
    		  <%= link_to "(login)", login_path %>
    		<% end %>
          
    	</h6>
    </div>
    <div id="navbar">
      <ul>
        <h3>Navigation</h3>
        <li><%= link_to 'Home', articles_path%></li>
        <li><%= link_to 'Tags', tags_path%></li>
        <% if logged_in? %>
          <li><%= link_to 'Authors', authors_path%></li>
          <li><%= link_to 'Logout', logout_path%></li>
        <% else %>
          <li><%= link_to 'Login', login_path%></li>
        <% end %>
      </ul>
      <br>
      <ul><h3>Most Popular</h3>
        <% @top_articles.each do |a|%> 
          <li>
            <%= link_to a.title, article_path(a) %>
            (<%= a.hits %> views)
          </li>
        <% end %>
      </ul>

      <br>

      <ul><h3>Older Posts</h3>
        <% @months.each do |m|%> 
          <li>
            
            <%= link_to m.strftime('%B'), month_path(m.strftime('%Y'),m.strftime('%m')) %> 
            <%= link_to m.strftime('%Y'), year_path(m.strftime('%Y')) %>
          </li>
        <% end %>
      </ul>
    </div>


    
  </body>
</html>
