<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
    	<p class="flash"><%= flash.notice %></p>
    	<%= yield %>  	
      
    	<hr>
          	
    	<h6>
    		<% if logged_in? %>
    		  <%= "Logged in as #{current_user.email}" %>
    		  <%= link_to "(logout)", logout_path %>
    		  <%= link_to "(Authors List)", authors_path %>
    		<% else %>
    		  <%= link_to "(login)", login_path %>
    		<% end %>
          
    	</h6>
    </div>
    <div id="navbar">
      <ul><h4>Most Popular</h4>
        <% @top_articles.each do |a|%> 
          <li>
            <%= link_to a.title, article_path(a) %>
          </li>
        <% end %>
      </ul>
    </div>
    
  </body>
</html>
